.contact-container {
    width: 50%;
    margin-inline: auto;
    display: block;
    margin-block: 2rem;
}

.name-container {
    display: flex;
    gap: 1rem;
}

.first-name,
.last-name {
    width: 50%;
}

input, textarea{
    background-color: white!important;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.alert {
    border-radius: 6px;
    padding: 20px;
    margin: 10px 0;
  }
  
  .alert-success{
    color: green;
    border: 1px solid green;
  }

@media screen and (max-width : 760px) {

    .first-name,
    .last-name {
        width: 100%;
    }

    .contact-container{
        margin:0;
        width:100%;
        padding:5px;
    }
    .name-container {
        display: block;
        gap: 0;
    }
}
