
.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/localAttraction_header.svg");
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-shadow: 1px 1px 2px black;
}

.main-container {
    color: #666;
    /* padding-top: 70px; */
    width:75%;
    overflow-x: hidden;
    margin:auto;
    display:block;
    margin-block:.45rem;
}
/* Basic styling for the card */
.card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 16px;
    width: 100%; /* Take up the available space in the column */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    display:flex;
    align-items:stretch;
    gap:1rem;
    margin-block:.5rem;
}

.card img, .card article, .card iframe{
    width:30%;
}


/* .card article{
    width:70%;
} */

@media screen and (max-width:650px) {
    .main-container{
        width:100%;
        padding:14px;
    }
    .card {
        flex-direction: column;
    }
    .card img, .card article{
        width:100%;
    }
    .card iframe {
        width: 100%;
        height: 200px; /* Adjust the height as needed */
        border: none;
    }
}
