:root {
    --success: #4CAF50;
}

/* ---------- MAIN ---------- */

.main-container {
    color: #666;
    padding-top: 70px;
    overflow-x: hidden;
}

/* ---------- Common Style ---------- */
.text-center {
    text-align: center !important;
}


.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
    margin: 15px;
}

/* Then style the iframe to fit in the container div with full height and width */
iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

.row {
    width: 100%;
    display: flex;
}

.row .content-container,
.row .reserve-container{
    padding: 15px;
    width: 30%;
}

.row .reserve-container{
    margin: 10px;
}

.row .img-container {
    padding: 15px;
    width: 40%;
}


.booking-form {
    border-radius: 10px;
    background-color: rgb(225, 222, 222);
}

.booking-form h2 {
    margin-bottom: 10px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="date"],
input[type="number"]{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: #555;
}

.result div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result .tax{
    /* text-align: end; */
}

.result .total-price{
    font-size: 20px;
    margin: 5px 0;
}

.alert {
    border-radius: 6px;
    padding: 20px;
    margin: 10px 0;
  }
  
  .alert-success{
    color: green;
    border: 1px solid green;
  }


/* ---------- MEDIA QUERIES ---------- */

/* Medium <= 992px */

@media screen and (max-width: 992px) {}

/* Small <= 768px */

@media screen and (max-width: 768px) {

    .row {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .row .img-container,
    .row .content-container,
    .row .reserve-container {
        padding: 0;
        width: 100%;
    }

    .row .content-container,
    .row .reserve-container {
        padding: 15px;
    }

    img {
        width: 100%;
    }

    .iframe-container {
        margin: 0;
    }
}