.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    margin-bottom: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.profile-info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-picture {
    font-size: 80px;
    margin-right: 20px;
    color: #282e76;
}

.user-details h2 {
    margin: 5px;
    font-size: 24px;
}

.user-details p {
    margin: 5px;
    color: #777;
}

.booking {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.booking h3 {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.booking p {
    margin: 5px;
    color: #777;
}

.booking .price {
    font-weight: bold;
    color: #333;
}

.booking .quantity {
    font-style: italic;
    color: #777;
}

@media screen and (max-width : 600px) {
    .booking h3 {
        flex-direction: column;
        align-items: start;
    }

}